
.favourite-page{
    margin-top: 40px;
    .favourite-page__container{
        max-width: 960px;
        margin: 0 auto;
        .favourite-page__title{
            font-size: 24px;
            font-weight: 700;
        }
        .favourite-page__wrap{
            margin-top: 30px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 20px;
        }
    }
    
}