.card{
    width: 330px;
    border: 2px solid grey;
    border-radius: 5px;
    background-color: rgb(222, 222, 222);
    transition: 0.2s;
    opacity: 0.9;
    
    
    &:hover{
        opacity: 1;
        transition: 0.2s;
    }
    
    
    &__header{
        
        &-img{
            width: 100%;
            height: 270px;
            border-radius: 5px;
            
        }
        .favourite__icon-wrapper{
            position: relative;
            .favourite__icon{
                position: absolute;
                bottom: 230px;
                left: 290px; 
                cursor: pointer;
                transform: scale(1);
                transition: 0.2s;
                &:hover{
                    transform: scale(1.2);
                    transition: 0.2s;
                }
            }
        }
    }
    &__content{
        padding: 10px;
        color: black;
        font-size: 24px;
        &-color {
            font-size: 16px;
        }
    }
    &__footer{
        padding: 10px;
        &-price{
            color: #222;
            font-size: 20px;
            font-weight: 700;
            
        }
       &-button{
            border-radius: 8px;
            color: #fff;
            font-family: 'Roboto', sans-serif;
            border: none;
            cursor: pointer;
            text-transform: uppercase;
            padding: 10px 25px;
            background-color: #444;
            transition: 0.2s;
                &:hover{
                    background-color: #b3382c;
                    transition: 0.2s;
            }
        }
    }
    
}