.header{
    background-color: #777;
    width: 100%;
    &-wrap {
        display: flex;
        justify-content: space-between;
    }
    &-right {
        display: flex;
    }
    &-left {
        margin-left: 20px;
    }
}

.homeLogo {
    text-transform: uppercase;
    color: rgb(244, 244, 244);
    text-decoration: none;
}